h1{
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
    font-family: papyrus ;
    font-size: 100px;
    border-style: solid;
    width: fit-content;
    box-shadow: 15px 15px 10px royalblue ;
    ;
   
    
   
   

}

p{  
    margin: 0 auto;
    text-align: center;
    margin-top: 25px
}

